* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    
    color: #090909;
}
.btn-base {
    color: #090909;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px; /* 111.1% */
    border-radius: 10px;
    padding: 26px 32px 27px 32px;
    display: inline-block;
}

.btn-orange {
    background: #FF9C08;
    border: none;

}

.btn-white {
    border: 1px solid #F0ECE8;
    
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(43, 43, 43, 0.04);
    }

.shapka {
    
    width: 1440px;
    height: 119px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.image-header {
    width: 200px;
    height: 32px;
    flex-shrink: 0;
}
.header-title {
    width: 492px;
    height: 32px;
    padding: 43px 110px ;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px; 
    display: flex;
    justify-content: space-between;
    align-items: end;
    
}
.bag-donate {
    margin-top: 10px;
    padding: 32px 110px 33px;
    display: flex;
    align-items: center;
}
.bag {
    
    width: 32px;
    height: 34px;
    margin-right: 32px;
    margin-left: 24px;
    
    
    
}

.promo-help {
    margin-top: 119px;
    width: 1440px;
    height: 869px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block {
    width: 140px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 99999px;
    background: #FF9C08;
    margin-bottom: 25px;
}
.help {
    margin-top: 208px;
    margin-bottom: 264px;
    margin-left: 110px;
    margin-right: 50px;
    width: 609.703px;
    height: 397px;
    flex-shrink: 0;
}
.help h1 {
    width: 603px;
    height: 160px;
    
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    line-height: 80x; 
}
.help p {
    color: #6E6E6E;
    font-family: "DM Sans" 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px; /* 158.3% */
    margin-top: 16px;
    margin-bottom: 43px;
}

.buttons {
    display: inline-flex;
    padding-right: 176.703px;
    align-items: flex-start;
    gap: 28px;
}

.main-footer {
    background: #FEF9F2;
    width: 1440px;
    height: 316px;
    
}
.amount {
    display: flex;
    width: 1268px;
    padding: 0px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 72px;
}
.humans-impact {
    width: 284px;
    height: 109px;
    flex-shrink: 0;
}
